/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import 'foundation/components/grid'
@import 'foundation/components/buttons'
.branches
  margin: 0
  padding: 0
  list-style-type: none
  @include grid-row
  > li
    @include grid-column(6)
    padding: 5px
    background-color: #EAEFEF
    box-shadow: 2px 2px 2px rgba(1,1,1,.2)
    .build-btn
      +button($button-tny)
      float: right
    .builds
      padding: 0
      margin: 0
      list-style-type: none
      li
        box-shadow: 2px 2px 2px rgba(1,1,1,.2)
        background-color: $white
        margin-bottom: 2px
        padding: 3px 5px
        pre
          background-color: black
          color: #DDD
          max-height: 800px
          overflow: scroll
        &.collapsed
          >:not(.summary)
            display: none
            margin-top: 2px
        &.succeeded
          i.fa
            color: #4A9
        &.failed
          i.fa
            color: #944


