<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Sign out', signout_path %></li>
  <li><%= link_to 'RESET', reset_configuration_path, method: :post %></li>
<% else %>
  <li><%= link_to 'Sign in', signin_path %></li>
<% end %>
